@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles*/
body {
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Page title styling */
#heading {
  margin-top: 20px;
  margin-bottom: 30px;
}
.title {
  font-family: "Domine", serif;
  color: #e9dfd0;
  /*code inspiration from https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow*/
  text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 0.2em black;
}

.hide {
  display: none;
}

/* Styling to all boxes */
#intro-box {
  position: absolute;
  width: 70%;
  max-width: 768px;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  padding: 10px;
  border: 2px solid #4c1e0f;
  border-radius: 6px;
  /*code inspiration from https://developer.mozilla.org/en-US/docs/Web/CSS/translate*/
  transform: translate(-50%, -50%);
  background-color: #e9dfd0;
  transition: all 0.4s ease;
}

#test,
#final-score-box,
#error-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #4c1e0f;
  border-radius: 6px;
  /*code inspiration from https://developer.mozilla.org/en-US/docs/Web/CSS/translate*/
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  background-color: #e9dfd0;
}

/* Intro box styling */
.intro-title,
.score-title,
.error-title {
  font-family: "Domine", serif;
  margin: 5px;
  color: #4c1e0f;
}

.description {
  font-family: "Source Sans 3", sans-serif;
  text-align: left;
  line-height: 1.8;
}

.description i {
  color: #4c1e0f;
}

/* error message */
#error-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-text {
  font-family: "Source Sans 3", sans-serif;
  color: #4c1e0f;
  font-size: medium;
}
.return-btn {
  font-family: "Domine", serif;
  background-color: #4c1e0f;
  border: #4c1e0f 1px solid;
  color: #e9dfd0;
  margin: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}

/* Buttons styling */
#start-btn,
#next-btn,
#start-again,
#home-page {
  font-family: "Domine", serif;
  background-color: #4c1e0f;
  border: #4c1e0f 1px solid;
  color: #e9dfd0;
  margin: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
  display: block;
}

/* Styling for hovering over buttons */
#start-btn:hover,
#next-btn:hover,
#start-again:hover,
#home-page:hover,
.return.btn:hover {
  background-color: #e9dfd0;
  color: #4c1e0f;
}

/* Test box styling */
#test header {
  font-family: "Domine", serif;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: #4c1e0f;
  padding-bottom: 10px;
  border-bottom: 2px solid #4c1e0f;
}
#test h3 {
  padding-top: 50px;
}
.scenario-container {
  padding-left: 10px;
  padding-right: 10px;
}

.answer-btn {
  font-family: "Source Sans 3", sans-serif;
  color: #4c1e0f;
  width: 100%;
  border: 1px solid #4c1e0f;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
  text-align: left;
  transition-duration: 0.5s;
  cursor: pointer;
}
/*Credits to GreatStack for disabled button styles*/
.answer-btn:hover:not([disabled]) {
  background-color: #4c1e0f;
  color: #e9dfd0;
}
.answer-btn:disabled {
  cursor: no-drop;
}
#scenario {
  font-family: "Source Sans 3", sans-serif;
  text-align: left;
}

#test footer,
#buttons,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Final score box styling */
.score-img img {
  width: 30%;
  height: 30%;
}

.final-score {
  color: #4c1e0f;
  font-family: "Source Sans 3", sans-serif;
  font-size: large;
  margin: 10px;
}

.current-score {
  background: #e9dfd0;
  border: 2px solid #4c1e0f;
  margin: 10px;
  padding: 10px;
  width: max-content;
}

/* Styling for correct and incorrect answers */
.correct {
  background: rgb(130, 228, 130);
}
.incorrect {
  background: rgb(238, 100, 100);
}

/* Media queries */
@media screen and (min-width: 320px) {
  /* Main title */
  #heading {
    font-size: 12px;
  }
  #heading img {
    width: 100px;
    height: 100px;
  }

  /* Intro box */

  #intro-box {
    width: 95%;
    top: 57%;
    margin-bottom: 10px;
  }
  .description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 375px) {
  /* intro box */
  #intro-box {
    left: 50%;
    top: 50%;
  }
}

@media screen and (min-width: 425px) {
  /* Main title */
  #heading img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  /* Main title */
  #heading {
    font-size: 16px;
  }
  #heading img {
    width: 192px;
    height: 192px;
  }
}
