@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles*/
body {
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#heading {
  margin-top: 20px;
  margin-bottom: 30px;
}
.title {
  font-family: "Domine", serif;
  color: #e9dfd0;
  /*code inspiration from https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow*/
  text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 0.2em black;
}
#intro-box,
#test {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #4c1e0f;
  border-radius: 6px;
  /*code inspiration from https://developer.mozilla.org/en-US/docs/Web/CSS/translate*/
  transform: translate(-50%, -50%);
  background-color: #e9dfd0;
}
.intro-title {
  font-family: "Domine", serif;
  margin: 5px;
  color: #4c1e0f;
}

.description {
  font-family: "Source Sans 3", sans-serif;
  text-align: left;
  line-height: 1.8;
}

.description i {
  color: #4c1e0f;
}

.start-btn,
#next-btn {
  font-family: "Domine", serif;
  background-color: #4c1e0f;
  border: #4c1e0f 1px solid;
  color: #e9dfd0;
  margin: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
  display: block;
}
.start-btn:hover,
#next-btn:hover {
  background-color: #e9dfd0;
  color: #4c1e0f;
}

#test header {
  font-family: "Domine", serif;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: #4c1e0f;
  padding-bottom: 10px;
  border-bottom: 2px solid #4c1e0f;
}
#test h3 {
  padding-top: 50px;
}
.scenario-container {
  padding-left: 10px;
  padding-right: 10px;
}

.answer-btn {
  font-family: "Source Sans 3", sans-serif;
  color: #4c1e0f;
  width: 100%;
  border: 1px solid #4c1e0f;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
  text-align: left;
  transition-duration: 0.5s;
  cursor: pointer;
}
/*Credits to GreatStack for disabled button styles*/
.answer-btn:hover:not([disabled]) {
  background-color: #4c1e0f;
  color: #e9dfd0;
}
.answer-btn:disabled {
  cursor: no-drop;
}
#scenario {
  font-family: "Source Sans 3", sans-serif;
  text-align: left;
}

#test footer,
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;}

.current-score {
  background: #e9dfd0;
  border: 2px solid #4c1e0f;
  margin: 10px;
  padding: 10px;
  width: max-content;
}

.correct {
  background: rgb(130, 228, 130);
}
.incorrect {
  background: rgb(238, 100, 100);
}
